<?xml version='1.0' encoding='UTF-8' ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <!--bean id="propertyConfigurer"
    class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
    p:location="/WEB-INF/jdbc.properties" />

<bean id="dataSource"
    class="org.springframework.jdbc.datasource.DriverManagerDataSource"
    p:driverClassName="${jdbc.driverClassName}"
    p:url="${jdbc.url}"
    p:username="${jdbc.username}"
    p:password="${jdbc.password}" /-->

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
    <bean id="userdao" class="com.mycompany.splootproject.dao.UserDAO" scope="request" /> 
    <bean id="uservalidator" class="com.mycompany.splootproject.validation.UserValidator" /> 
    <bean id="user" class="com.mycompany.splootproject.pojo.User" scope="request" />
    
    <bean id="petdao" class="com.mycompany.splootproject.dao.PetDAO" scope="request" /> 
    <bean id="petvalidator" class="com.mycompany.splootproject.validation.PetValidator" /> 
    <bean id="pet" class="com.mycompany.splootproject.pojo.Pet" scope="request" />

    <bean id="bizdao" class="com.mycompany.splootproject.dao.BizDAO" scope="request" /> 
    <bean id="bizvalidator" class="com.mycompany.splootproject.validation.BizValidator" /> 
    <bean id="biz" class="com.mycompany.splootproject.pojo.Biz" scope="request" />
    
    <bean id="appointmentsdao" class="com.mycompany.splootproject.dao.AppointmentsDAO" scope="request" /> 
    <bean id="appointmentsvalidator" class="com.mycompany.splootproject.validation.AppointmentsValidator" /> 
    <bean id="appointment" class="com.mycompany.splootproject.pojo.Appointments" scope="request" />
</beans>
